// app global css

@font-face
    font-family: acento
    src: url("../assets/Baloo_Bhai/BalooBhai-Regular.ttf")

.text-acento
    font-family: acento

@font-face {
    font-family: tipico;
    src: url("../assets/Nunito/Nunito-Regular.ttf");
}

*
    font-family: tipico

.shadow-w
    -webkit-box-shadow: -1px 0px 12px -4px rgba(0,0,0,0.28);
    -moz-box-shadow: -1px 0px 12px -4px rgba(0,0,0,0.28);
    box-shadow: -1px 0px 12px -4px rgba(0,0,0,0.28);